@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

@media only screen and (min-width: 0) and (max-width: 764px) {
  .Mi {
    color: blue;
    list-style-type: none;
    margin-left: -22px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  a {
    text-decoration: none;
  }

  .intro {
    width: 327px;
    color: #172b4d;
    font-family: "Poppins", sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .intro1 {
    width: 327px;
    height: 146px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .homesection {
    background-image: url("./img/header-shapes\ mobile.png");
    background-color: #fff;
    background-repeat: no-repeat;
    padding-top: 15%;
    padding-left: 12px;
  }

  .social {
    color: #7f8cff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .socialicons {
    display: flex;
    gap: 23px;
    margin-left: -30px;
  }

  .socialicon1 {
    list-style-type: none;
  }

  .fa-bars {
    color: blue;
  }

  .buger {
    display: flex;
    gap: 78%;
  }

  .ham {
    list-style-type: none;
  }

  /* card section */

  h3 {
    height: 36px;
    width: 295px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #172b40;
  }

  .canopy {
    margin-left: 14px;
  }

  .card-img {
    margin-left: 14px;
    width: 295px;
    height: 220px;
  }

  #About {
    display: grid;
  }

  .about-head {
    margin-left: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .canopy-txt {
    height: 76px;
    margin-left: 10px;
    width: 295px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .cano {
    display: flex;
    gap: 7%;
    margin-left: -32px;
  }

  .tec {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  .tech {
    font-family: "Poppins", sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0;
    text-align: left;
    color: #7a869a;
  }

  .tech1 {
    display: flex;
    margin-left: -30px;
    gap: 15px;
  }

  .tech-t {
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: #6070ff;
    width: 49px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .tech-r {
    display: none;
  }

  .tech-j {
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: #6070ff;
    width: 92px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .about-section {
    width: 327px;
    height: 552px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding-top: 15px;
    margin-top: 114px;
    margin-left: 15px;
  }

  .project-btn {
    margin-left: 9px;
    margin-top: 7px;
    padding: 12px;
    border-radius: 8px;
    border-color: #6070ff;
    outline: none;
    background-color: #fff;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid;
    cursor: pointer;
  }

  .project-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .project-btn:active {
    background-color: #6070ff;
    color: #fff;
  }

  /* About section 2 */

  .myself1 {
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
  }

  .myself1 h3 {
    color: #172b4d;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
  }

  .myself button {
    margin-left: 25px;
  }

  .myself {
    width: 305px;
    top: 4769px;
    border-right: 1px solid #dfe1e6;
    border-top-right-radius: 40px;
    padding: 10px;
    margin: auto;
    margin-top: 100px;
  }

  .para p {
    width: 80%;
    color: #344563;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .nara a {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .linkes {
    text-decoration: none;
    color: #7f8cff;
  }

  .social-pices {
    display: flex;
    flex: row;
    gap: 20px;
    margin-left: -20px;
  }

  .socials-icones {
    margin-left: -20px;
  }

  .social-pices li {
    list-style-type: none;
  }

  .btns {
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: #6070ff solid 1px;
    color: #396df2;
    cursor: pointer;
  }

  .btns:hover {
    color: #fff;
    background-color: #396df2;
  }

  .btns:active {
    color: #fff;
    background-color: #396df2;
  }

  .mana h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .fas {
    height: 12px;
    width: 6px;
    border-radius: 0;
    color: #7a869a;
    margin-left: 300px;
  }

  .pang {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 0;
  }

  .pang li {
    list-style-type: none;
  }

  .pang-item {
    height: 66.7155990600586px;
    width: 303px;
    border: #f7f7f9 solid;
    background-color: #f7f7f9;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
    color: #253858;
  }

  .nrop p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .im {
    margin-bottom: -20px;
  }

  /* contact form section */

  .formsection {
    border-top-left-radius: 90px;
    background-image: url(img/contact\ form\ shapes-mobile@2x.png);
    background-size: 60%;
    background-color: #6070ff;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 85%;
  }

  .Fsection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contact {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
    margin-top: 90px;
    margin-bottom: -10px;
  }

  .pcontact {
    height: 137px;
    width: 327px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .mail {
    margin-top: 15px;
    height: 35px;
    width: 273px;
    left: 16px;
    top: 15px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
  }

  .btn {
    color: #6070ff;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 135px;
    margin-bottom: 5px;
  }

  .btn:hover {
    background-color: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  textarea {
    margin-top: 15px;
    height: 140px;
    width: 273px;
    left: 16px;
    top: 15px;
    border: 1px solid #cfd8dc;
    border-radius: 10px;
  }

  .name {
    height: 34px;
    width: 273px;
    left: 16px;
    top: 15px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
  }

  .nav-link {
    display: none;
  }
}

/* ---------------------------DESKTOP VERSION------------------------------- */

@media only screen and (min-width: 765px) {
  .Mi {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    height: 20px;
    width: 76px;
    color: #6070ff;
    list-style-type: none;
  }

  .burger {
    display: flex;
    gap: 100%;
  }

  .ham {
    list-style-type: none;
    display: none;
  }

  .homesection {
    background-color: #fff;
    background-image: url('./img/Header\ bg@2x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding-bottom: 1%;
  }

  .intro {
    height: 122px;
    width: 920px;
    padding-top: 15%;
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.3700000047683716px;
    text-align: left;
  }

  .intro1 {
    height: 98px;
    width: 920px;
    left: 0;
    top: 134px;
    border-radius: nullpx;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: left;
  }

  .social {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .socialicons {
    display: flex;
    gap: 2%;
    margin-left: -30px;
  }

  .socialicon1 {
    list-style-type: none;
  }

  .desktop-nav {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    margin-top: -40px;
  }

  .nav-link {
    list-style-type: none;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
  }

  .desktop-home {
    margin: 15%;
    margin-top: -3%;
  }

  .linkes {
    text-decoration: none;
    color: #396df2;
  }

  .about-head {
    margin-left: 14px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .cano {
    display: flex;
    gap: 10%;
    margin-left: -32px;
  }

  .tec {
    font-family: "Poppins", sans-serif;
    color: #344563;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    height: 24px;
    width: 75px;
    left: 0;
    top: 8px;
    list-style-type: none;
  }

  .tech {
    font-family: "Poppins", sans-serif;
    color: #6b778c;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    height: 24px;
    left: 0;
    top: 8px;
    border-radius: nullpx;
  }

  .about-section {
    display: flex;
    gap: 75px;
    border: 1px solid #cfd8dc;
    padding: 20px;
    border-radius: 16px;
    width: 85%;
    margin: 6%;
  }

  .buger a {
    text-decoration: none;
  }

  .about-section:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .about-section:hover {
    border: 1px solid #6070ff;
  }

  .tech1 {
    display: flex;
    gap: 15px;
    padding-left: 0%;
  }

  .tech-t {
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: #6070ff;
    width: 49px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .tech-j {
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: #6070ff;
    width: 92px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .canopy-txt {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
    height: 50px;
    width: 496px;
    left: 24px;
    top: 146px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .project-btn {
    margin-left: 9px;
    margin-top: 40px;
    padding: 12px;
    border-radius: 8px;
    border-color: #6070ff;
    outline: none;
    background-color: #fff;
    color: #6070ff;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px solid;
    cursor: pointer;
  }

  .project-btn:hover {
    background-color: #6070ff;
    color: #fff;
  }

  .project-btn:active {
    background-color: #6070ff;
    color: #fff;
  }

  .card-img {
    width: 500px;
    height: 415px;
  }

  .myself {
    display: flex;
    gap: 10%;
    margin: 6%;
  }

  .para-txt {
    height: 102px;
    width: 447px;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .social-pices {
    display: flex;
    gap: 15px;
    padding-left: 0;
    margin-top: 25px;
  }

  .social-pices li {
    list-style-type: none;
  }

  .btns {
    font-size: 17px;
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    border: #6070ff solid 1px;
    color: #396df2;
    cursor: pointer;
    margin-top: 20px;
  }

  .btns:hover {
    color: #fff;
    background-color: #396df2;
  }

  .btns:active {
    color: #fff;
    background-color: #396df2;
  }

  .pang {
    display: flex;
    list-style-type: none;
    gap: 30%;
  }

  .lang-p {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0;
    text-align: left;
  }

  hr {
    width: 200%;
  }

  h3 {
    height: 36px;
    width: 295px;
    font-family: "Poppins", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0;
    text-align: left;
    color: #172b40;
  }

  .lang-hd {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
  }

  .fas {
    margin-left: 190%;
  }

  .formsection {
    border-top-left-radius: 90px;
    background-image: url(img/contact\ form\ background\ shapes@2x.png);
    background-size: 100%;
    background-color: #6070ff;
    width: 1354px;
    background-repeat: no-repeat;
    background-position-x: 85%;
    height: 826px;
    margin-left: -1%;
    margin-bottom: -1%;
  }

  .Fsection {
    padding-top: 1%;
  }

  .contact {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
    margin-top: 90px;
    margin-bottom: -10px;
  }

  .tech-r {
    padding-top: 2px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style-type: none;
    text-align: center;
    color: #6070ff;
    width: 98px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
  }

  .pcontact {
    height: 102px;
    width: 569px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #ebebff;
    margin-left: 29%;
    margin-top: 5%;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mail {
    margin-top: 15px;
    height: 48px;
    width: 447px;
    left: 16px;
    top: 15px;
    border: 1px solid #cfd8dc;
  }

  .btn {
    color: #6070ff;
    background-color: #fff;
    border-radius: 8px;
    padding: 12px 25px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 1px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 5px;
    width: 10%;
  }

  .btn:hover {
    background-color: #6070ff;
    color: #fff;
    border: 1px solid #fff;
  }

  textarea {
    margin-top: 15px;
    width: 447px;
    left: 16px;
    top: 15px;
    border: 1px solid #cfd8dc;
  }

  .name {
    height: 48px;
    width: 447px;
    border: 1px solid #cfd8dc;
  }
}
